*{box-sizing: border-box;}
body{
    margin-top: 5%; 
    text-align: center;
    background-color: #8DC26F;
    
}
h1{
    color: rgba(255, 255, 255, 0.745);
    font-family: Arial, Helvetica, sans-serif;
}
form{
    background-color: #76b852;
    height: 63vh;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20hv;
    margin: 5% 25%;
    border-radius: 5%;
}
#homeForm{
    background-color: #76b852;
    height: 63vh;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20hv;
    margin: 5% 25%;
    border-radius: 5%;
    align-content: space-evenly;
}
input{
    background-color:rgb(113, 213, 74);
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.412);
    height: 5vh;
    text-align: center;
    color: aliceblue;
    font-size: large;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: 0 25%;
}
button{
    border: 2px solid transparent;
    border-radius: 2.5%;
    background-color:rgb(113, 213, 74) ;
    color: rgba(255, 255, 255, 0.745);
    height: 5vh;
    font-size: large;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin-left: 25%;
    /* display: none; */
}
#submitt:hover{
    cursor: pointer;
    opacity: 0.8;
}

#ul1{
    position: absolute;
    top: 0%;
    left: 80%;
    background-color: rgb(213, 208, 208);
    width:5%;
    height: 15vh;
    display: block;
    border-radius: 50%;
    opacity: 20%;

}
#ul2{
    position: absolute;
    top: 55%;
    left: 10%;
    background-color: rgb(213, 208, 208);
    width:5%;
    height: 15vh;
    display: block;
    border-radius: 50%;
    opacity: 20%;

}
#ul3{
    position: absolute;
    top: 10%;
    left: 60%;
    background-color: rgb(213, 208, 208);
    width:7.5%;
    height: 20vh;
    display: block;
    border-radius: 75%;
    opacity: 20%;

}
#ul4{
    position: absolute;
    top: 70%;
    left: 70%;
    background-color: rgb(213, 208, 208);
    width:7.5%;
    height: 20vh;
    display: block;
    border-radius: 75%;
    opacity: 20%;

}
#ul5{
    position: absolute;
    top: 22%;
    left: 32%;
    background-color: rgb(213, 208, 208);
    width:2.5%;
    height: 10vh;
    display: block;
    border-radius: 50%;
    opacity: 20%;

}
#ul6{
    position: absolute;
    top: 38%;
    left: 45%;
    background-color: rgb(213, 208, 208);
    width:2.5%;
    height: 10vh;
    display: block;
    border-radius: 50%;
    opacity: 20%;

}
#ul7{
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: rgb(213, 208, 208);
    width: 7.5%;
    height: 20vh;
    display: block;
    border-radius: 100%;
    opacity: 20%;

}
#ul8{
    position: absolute;
    top: 40%;
    left: 65%;
    background-color: rgb(213, 208, 208);
    width: 0.5%;
    height: 6vh;
    display: block;
    border-radius: 100%;
    opacity: 20%;

}
#ul9{
    position: absolute;
    top: 75%;
    left: 30%;
    background-color: rgb(213, 208, 208);
    width: 0.5%;
    height: 6vh;
    display: block;
    border-radius: 100%;
    opacity: 20%;

}
#ul99{
    position: absolute;
    top: 11%;
    left: 34%;
    background-color: rgb(213, 208, 208);
    width: 0.5%;
    height: 6vh;
    display: block;
    border-radius: 100%;
    opacity: 20%;

}
#sub:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: #8DC26F;
  }


#sub{
    text-align: center;
    /* font-size: .9em; */
    color: rgba(255, 255, 255, 0.745);
    background: rgb(113, 213, 74);
    outline: none;
    border: 1px solid #76b852;
    cursor: pointer;
    padding: 5% 5%;
    -webkit-appearance: none;
    width: 100%;
    /* margin: 2em 0; */
    letter-spacing: 2px;
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  #subdiv{
    background-color:rgb(113, 213, 74) ;
    width: 91%;
    display: none;
  }
  P{
    color: rgba(255, 255, 255, 0.745);
    font-family: Arial, Helvetica, sans-serif;
  }
#a11{
    color: rgba(255, 255, 255, 0.745);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  /* //////////////////////// */
  select{
    color: rgba(255, 255, 255, 0.745);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(113, 213, 74);
    width: 100%;
    height: 5vh;
    letter-spacing: 4px;
    border: none;
    margin: 0 25%;
    
  }
  /* #option1{
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color:#76b852;
    width: 100%;
    height: 5vh;
    letter-spacing: 4px;
    border: none;
  } */
  #selectDiv{
   display: flex;
   justify-content: center;
  }
  select:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: #8DC26F;
  }

  h2,h3 {
    text-align: center;
    color: rgba(255, 255, 255, 0.745);
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
  }
  a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.745);
  }

  /* /////////////////////media///////////////////////////// */
  @media (min-width:1600px) and (max-width:2560px)
  {
    #submitt{
        margin-top: 4%;
        width: 50%;
        margin-left: 25%;
       }
       option{
           font-size: 12px;
           width: 10px;
           display: inline-block;
       }
    #homeForm{
        width: 60%;
        margin: 12% 21%;
      }
      #h2welcoming {
        text-align: center;
        font-size: 2vw;
    }
    a{
        font-size: 2vw;
    }
    p{
        font-size: 2vw;
    }
    #wName{
        font-size: 3vw;
    }
    #selectForm{
        width: 80%;
        margin: 5% 10%;
        align-content: center;
       }
   #select{
    font-size: 1vw
   }
   h2{
       font-size: 2vw;
   }
    #ul1{
      position: absolute;
      top: 0%;
      left: 80%;
      background-color: rgb(213, 208, 208);
      width:11%;
      height: 15vh;
      display: block;
      border-radius: 50%;
      opacity: 20%;
  
  }
  #ul2{
      position: absolute;
      top: 70%;
      left: 10%;
      background-color: rgb(213, 208, 208);
      width: 12%;
      height: 17vh;
      display: block;
      border-radius: 50%;
      opacity: 20%;
  
  }
  #ul3{
      position: absolute;
      top: 10%;
      left: 60%;
      background-color: rgb(213, 208, 208);
      width:14.5%;
      height: 20vh;
      display: block;
      border-radius: 75%;
      opacity: 20%;
  
  }
  #ul4{
      position: absolute;
      top: 70%;
      left: 70%;
      background-color: rgb(213, 208, 208);
      width: 13.5%;
      height: 20vh;
      display: block;
      border-radius: 75%;
      opacity: 20%;
  
  }
  #ul5{
      position: absolute;
      top: 22%;
      left: 18%;
      background-color: rgb(213, 208, 208);
      width: 6.5%;
      height: 10vh;
      display: block;
      border-radius: 50%;
      opacity: 20%;
  
  }
  #ul6{
      position: absolute;
      top: 38%;
      left: 45%;
      background-color: rgb(213, 208, 208);
      width: 9.5%;
      height: 13vh;
      display: block;
      border-radius: 50%;
      opacity: 20%;
  
  }
  #ul7{
      position: absolute;
      top: 50%;
      left: 16%;
      background-color: rgb(213, 208, 208);
      width:14.5%;
      height: 20vh;
      display: block;
      border-radius: 100%;
      opacity: 20%;
  
  }
  #ul8{
      position: absolute;
      top: 40%;
      left: 65%;
      background-color: rgb(213, 208, 208);
      width: 7.5%;
     height: 10vh;
      display: block;
      border-radius: 100%;
      opacity: 20%;
  
  }
  #ul9{
      position: absolute;
      top: 75%;
      left: 30%;
      background-color: rgb(213, 208, 208);
      width: 10.5%;
      height: 14vh;
      display: block;
      border-radius: 100%;
      opacity: 20%;
  
  }
  #ul99{
      position: absolute;
      top: 11%;
      left: 34%;
      background-color: rgb(213, 208, 208);
      width: 7.5%;
      height: 11vh;
      display: block;
      border-radius: 100%;
      opacity: 20%;
  
  }
  }



  @media (max-width:769px)
  {
    a{
        font-size: 65%;
    }
    #a11{
        font-size: 2vw;
    }
    #selectForm{
        width: 80%;
        margin: 10% 10%;
        align-content: center;
       }
       #submitt{
        margin-top: 8%;
        width: 84%;
        margin-left: 8%;
       }
   #select{
    letter-spacing: 1px;
    margin: 0 8%;
   }
    #homeForm{
        width: 60%;
        margin: 12% 21%;
      }
    #h2welcoming{
        text-align: center;
     font-size:85%;;
    }
    #ul1{
      position: absolute;
      top: 0%;
      left: 80%;
      background-color: rgb(213, 208, 208);
      width:11%;
      height: 15vh;
      display: block;
      border-radius: 50%;
      opacity: 20%;
  
  }
  #ul2{
      position: absolute;
      top: 55%;
      left: 10%;
      background-color: rgb(213, 208, 208);
      width: 10%;
      height: 15vh;
      display: block;
      border-radius: 50%;
      opacity: 20%;
  
  }
  #ul3{
      position: absolute;
      top: 10%;
      left: 60%;
      background-color: rgb(213, 208, 208);
      width:14.5%;
      height: 20vh;
      display: block;
      border-radius: 75%;
      opacity: 20%;
  
  }
  #ul4{
      position: absolute;
      top: 70%;
      left: 70%;
      background-color: rgb(213, 208, 208);
      width: 14.5%;
      height: 20vh;
      display: block;
      border-radius: 75%;
      opacity: 20%;
  
  }
  #ul5{
      position: absolute;
      top: 22%;
      left: 32%;
      background-color: rgb(213, 208, 208);
      width: 9.5%;
      height: 10vh;
      display: block;
      border-radius: 50%;
      opacity: 20%;
  
  }
  #ul6{
      position: absolute;
      top: 38%;
      left: 45%;
      background-color: rgb(213, 208, 208);
      width: 8.5%;
      height: 10vh;
      display: block;
      border-radius: 50%;
      opacity: 20%;
  
  }
  #ul7{
      position: absolute;
      top: 50%;
      left: 30%;
      background-color: rgb(213, 208, 208);
      width:14.5%;
      height: 20vh;
      display: block;
      border-radius: 100%;
      opacity: 20%;
  
  }
  #ul8{
      position: absolute;
      top: 40%;
      left: 65%;
      background-color: rgb(213, 208, 208);
      width: 0.5%;
      height: 6vh;
      display: block;
      border-radius: 100%;
      opacity: 20%;
  
  }
  #ul9{
      position: absolute;
      top: 75%;
      left: 30%;
      background-color: rgb(213, 208, 208);
      width: 9.5%;
      height: 12vh;
      display: block;
      border-radius: 100%;
      opacity: 20%;
  
  }
  #ul99{
      position: absolute;
      top: 11%;
      left: 34%;
      background-color: rgb(213, 208, 208);
      width: 0.5%;
      height: 6vh;
      display: block;
      border-radius: 100%;
      opacity: 20%;
  
  }
  #par,#a22,#link{
    font-size: 14px;
   }
  }
  @media (max-width:426px)
  {
      h1{
        font-size: 5.5vw;
        margin-top: 15%;
      }
      h2{
        font-size: 90%;
      }
    #h2welcoming{
        text-align: center;
       font-size: 65%;
    } 
    #homeForm{
        width: 70%;
        margin: 25% 16%;
    } 
  
    a{
        font-size: 50%;
    }
    #a11{
        font-size: 100%;
    }
    p{
        font-size: 60%;
    }
    #ul1{
        width: 17%;
    height: 12vh;

    }
    #ul2{
        width: 16%;
        height: 11vh;
    }
    #ul3{
     width: 18.5%;
    height: 12vh;
    }
    #ul4{
        width: 17.5%;
        height: 15vh;
    }
    #ul5{
        left: 16%;
        width: 15.5%;
    }
    #ul6{
        left: 9%;
        width: 15.5%;
    }
    #ul7{
        width: 15.5%;
    height: 12vh;
    left: 68%;
    }  
    #selectForm{
        width: 80%;
        margin: 10% 10%;
        align-content: center;
       }
       #submitt{
        margin-top: 8%;
        width: 84%;
        margin-left: 8%;
       }
   #select{
    letter-spacing: 1px;
    margin: 0 8%;
   }
   button a{
    font-size: 53%;
   }
   #par,#a22,#link{
    font-size: 14px;
   }
   
  }
  @media (max-width:376px)
  { 
    #h2welcoming{
        text-align: center;
        align-content: center;
       font-size: 60%;
    }
    a {
        font-size: 40%;
    }
    #a11{
        font-size: 2.5vw;
    }
    #ul1{
        width: 17%;
    height: 12vh;

    }
    #ul2{
        width: 16%;
        height: 11vh;
    }
    #ul3{
     width: 18.5%;
    height: 12vh;
    }
    #ul4{
        width: 17.5%;
        height: 15vh;
    }
    #ul5{
        left: 16%;
        width: 15.5%;
    }
    #ul6{
        left: 9%;
        width: 15.5%;
    }
    #ul7{
        width: 18.5%;
    height: 13vh;
    }  
    #homeForm{
        width: 70%;
        margin: 30% 18%;
    }
    button{
        margin-bottom: 5%;
    }
    #selectForm{
        width: 80%;
        margin: 10% 10%;
        align-content: center;
       }
       #submitt{
        margin-top: 8%;
        width: 84%;
        margin-left: 8%;
       }
   #select{
    letter-spacing: 1px;
    margin: 0 8%;
   }
   button a{
    font-size: 53%;
   }
   #par,#a22,#link{
    font-size: 11px;
   }

  }
  @media (max-width:321px)
  { 
    #h2welcoming{
        text-align: center;
        font-size: 70%;
       margin-bottom:10%;
    }
    a {
        font-size: 30%;
    }
    p{
        font-size: 45%;
    }
    #ul1{
        width: 16%;
    height: 10vh;
    }
    #ul3{
     width: 18.5%;
    height: 11vh;
    }
    #ul4{
        width: 17.5%;
        height: 15vh;
    }
    #ul5{
        left: 16%;
    }
    #ul6{
        left: 9%;
    }  
    #ul7{
    width: 19.5%;
    height: 10vh;
    }
    #ul8{
        width: 25.5%;
        height: 12vh;
        top: 27%;
       }
    #homeForm{
        width: 70%;
        margin: 30% 18%;
    }
    
    #selectForm{
        width: 80%;
        margin: 10% 10%;
        align-content: center;
       }

       #submitt{
        margin-top: 8%;
        width: 84%;
        margin-left: 8%;
       }
   #select{
    letter-spacing: 1px;
    margin: 0 8%;
   }
   button a{
    font-size: 53%;
   }
   #par,#a22,#link{
    font-size: 10px;
   }

  }
  @media (max-width:281px){
    button{
        height: 6vh;
    }
    #homeForm{
        width: 70%;
        margin: 30% 18%;
    }
    #h2welcoming{
        margin-bottom: 15%;
    }
   p{
    margin-top: 15%;
   }
   #ul1{
    height: 7vh;
   }
   #ul2{
    height: 10vh;
   }
   #ul3{
    height: 9vh;
   }
   #ul4{
    height: 8vh;
   }
   #ul7{
    height: 11vh;
   }
  
   #submitt{
    margin-top: 8%;
    width: 84%;
    margin-left: 8%;
   }
   #selectForm{
    width: 80%;
    margin: 10% 10%;
    align-content: center;
   }
   #wName{
    font-size: 7.5vw;
    margin-top: 20%;
   }
  #a11{
    font-size: 53%;
   }
   #select{
    letter-spacing: 1px;
    margin: 0 8%;
   }
   #par,#a22,#link{
    font-size: 10px;
   }
  }