*{
    box-sizing: border-box;
}

table{
    margin: 5% 10%;
    display: none;
    background-color: white;
}
#finalResult{
    color: white;
    text-align: center;
    background-color: rgba(0, 182, 0, 0.712);
}
button{
    margin-left: 40%;
    width: 15%;
    margin-top: 1%;
    background-color: #e9ecef;
    border: 1px solid #e9ecef;
    border-radius: 3%;
    display: block;
    margin: 2% 40% !important;
}
/* h2{
    text-align: center;
    background-color:#e9ecef;
    
} */
/* #resultText{
    width: 70%;
    margin: 5% 15%;
} */
a{
    text-decoration: none !important;
    color: white !important;
}
#JumDiv {
    width: 60%;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    padding: 2%;
    margin-top: 5%;
}
/* ////////////////////////////////////////// */
/* /////////////Media Query///////////////////// */
@media (min-width: 1400px) and (max-width: 1600px){
    #restable{
    margin: 5% 15%;
    }
}
@media (max-width: 426px){
    #logout, #switchToTable{
        width: 40%;
        margin-left: 121px !important;
    }
}
@media (max-width: 321px){
    #logout, #switchToTable{
        margin-left: 50%;
    }
}
@media (max-width: 290px){
    #logout, #switchToTable{
        margin-left: 60%;
    }
}
@media (max-width: 281px){
    #logout, #switchToTable{
        margin-left: 60% !important;
    }
}

@media (max-width:376px) {

    .display-4 {
        font-size: calc(1.475rem + 1.7vw) !important;
    }
    .btn-group-lg>.btn, .btn-lg {
        border-radius: 0.3rem !important;
        font-size: 65% !important;
    }
    #JumDiv {
        width: 92% !important;
        padding: 5% !important;
        margin-top: 25%!important;
    }
    #logout, #switchToTable {
        font-size: 10px !important;
        width: 50% !important;
        margin-left: 80px !important;
    }
    body{
        margin: 12px !important;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        margin-top: 2% !important;
    }
}

@media (max-width:769px) {
    #JumDiv {
        width: 65% !important;
        padding: 3% !important;
        margin-top: 9% !important;
    }
    .btn-group-lg>.btn, .btn-lg {
     
        font-size: 86% !important;
        margin-left: 40% !important;
    }
}